@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&family=Italianno&display=swap');
.instrument-serif {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.instrument-sans {
  font-family: "Instrument Sans", sans-serif;
  font-style: normal;
}
.italianno {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    background-color: #FBFCFD;
    border: 2px solid black;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 2px solid black;
}
nav div{
    display: flex;
    gap: 10px;
}
.hero{
    line-height: 120px;
    font-size: 120px;
    padding: 80px 50px;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
section{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 80px 50px;
    font-size: 76px;
    line-height: 90px;
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 15px;
    padding: 80px 50px;
}
main a{
    flex: 1 1 300px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    font-size: 38px;
}
footer div{
    font-size: 21px;
    display: flex;
    gap: 20px
}
/* nav */
nav a{
    border: 2px solid black;
    border-radius: 25px;
    padding: 14px 22px;
    font-weight: 500;
}
nav a:hover{
    background: black;
    color: white;
}
/* main */
main button{
    border: 1px solid black;
    padding: 0 7px;
    background: none;
    border-radius: 50px;
    font-size: 16px;
}
/* image */
img{
    object-fit: cover;
}
/* active touched */
nav a, main a, 
footer a{
    transition: all 300ms ease-in-out;
}
nav a:active, 
main a:active, 
footer a:active{
    opacity: 30%;
}
/* text link */
nav a, main a,
footer a{
    text-decoration: none;
    color: black;
}