@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&family=Italianno&display=swap');
.instrument-serif {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.instrument-sans {
  font-family: "Instrument Sans", sans-serif;
  font-style: normal;
}
.italianno {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    background-color: #FBFCFD;
    border: 2px solid black;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 2px solid black;
}
.hero{
    line-height: 100px;
    font-size: 128px;
    padding: 80px 50px;
}
section{
    display: flex;
    gap: 24px;
    padding: 80px 50px;
    font-size: 76px;
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 0;
    padding: 80px 50px;
}
main div{
    flex: 1 1 300px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    font-size: 38px;
}
footer div{
    font-size: 21px;
    display: flex;
    gap: 20px
}