body{
    background-color: #FBFCFD;
    border: 2px solid black;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 2px solid black;
}
.hero{
    line-height: 100px;
    font-size: 128px;
    padding: 80px 50px;
}
section{
    display: flex;
    gap: 24px;
    padding: 80px 50px;
    font-size: 76px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    font-size: 38px;
}
footer div{
    font-size: 21px;
    display: flex;
    gap: 20px
}