@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&family=Italianno&display=swap');
.instrument-serif {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.instrument-sans {
  font-family: "Instrument Sans", sans-serif;
  font-style: normal;
}
.italianno {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    background-color: #E3C1B7;
    border: 5px solid black;
    border-top: 0;
    margin: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    position: sticky;
    background-color: #E3C1B7;
    top: 0;
}
nav div{
    display: flex;
    gap: 10px;
}
main{
    overflow-y: scroll;
    height: calc(100dvh - 156px);
    scrollbar-width: thin;
    scrollbar-color: black #E3C1B7;
}
.hero{
    line-height: 120px;
    font-size: 113px;
    padding: 80px 50px;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.hero p{
    font-size: 21px;
    line-height: 30px;
}
section{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0px 50px;
    font-size: 76px;
    line-height: 90px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 15px;
    padding: 80px 50px;
}
.projects a{
    flex: 1 1 150px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    font-size: 38px;
}
footer div{
    display: flex;
    gap: 20px
}
/* .projects */
.projects button{
    border: 1px solid black;
    padding: 0 7px;
    background: none;
    border-radius: 50px;
    font-size: 16px;
}
/* image */
img{
    object-fit: cover;
}
/* active touched */
nav div a, .projects a, 
footer a{
    transition: all 300ms ease-in-out;
}
nav div a:active, 
.projects a:active, 
footer a:active{
    opacity: 30%;
}
/* text link */
nav div a, .projects a,
footer a{
    text-decoration: none;
    color: black;
}
nav div a, footer div a{
    font-size: 21px;
    font-weight: 800;
    padding: 14px 22px;
    border: 4px solid black;
    border-radius: 50px;
}
nav div a:hover,
footer div a:hover{
    background: black;
    color: white;
}